
*.pyc
chatapp/site.db
migrations/alembic.ini
migrations/env.py
migrations/README
migrations/script.py.mako
migrations/versions/b91586580e7a_.py
chatappconnect/static/profile_pics/*.png
chatappconnect/static/profile_pics/*.jpg
config.json
