{% extends "layout.html" %}
{% block content %}
    <h1 class="centered">Welcome to Chat Fusion</h1>
    <h5 class="centered">An open source chatting web app.</h5>
    <h3 class="centered">
        {% if current_user.is_authenticated %}
            <a class="btn btn-success" href="{{ url_for('main.chat') }}">Start Chatting</a>
        {% else %}
            <a class="btn btn-success" href="{{ url_for('users.signup') }}">Start Chatting</a>
        {% endif %}
    </h3>
    {% for post in posts.items %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('users.user_profile', username=post.author.username) }}">{{ post.author.username }}</a>
                <small class="text-muted">{{ post.date_posted.strftime('%b %d, %Y') }}{% if post.edited %} (Edited){% endif %}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
        ...
        {% endif %}
    {% endfor %}
{% endblock content %}