<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{{ app.router.static.url(filename='main.js') }}">
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> -->

    {% if title %}
        <title>Chat Fusion - {{ title }}</title>
    {% else %}
        <title>Chat Fusion</title>
    {% endif %}

</head>

<body>
  <h1 class="site-title">Welcome to Rocketet</h1>
  <h3 class="site-slogan">Chat with the speed of a rocket.</h3>
  {% block content %}{% endblock %}
</body>
</html>
